[submodule ".registry"]
	path = .registry
	url = https://github.com/frbcesab/universe
	shallow = true
	branch = HEAD
[submodule "geoparser"]
	path = geoparser
	url = https://github.com/FRBCesab/geoparser
	shallow = true
	registered = true
[submodule "zoteror"]
	path = zoteror
	url = https://github.com/FRBCesab/zoteror
	shallow = true
	registered = true
[submodule "chessboard"]
	path = chessboard
	url = https://github.com/FRBCesab/chessboard
	shallow = true
	registered = true
[submodule "rutils"]
	path = rutils
	url = https://github.com/FRBCesab/rutils
	shallow = true
	registered = true
[submodule "forcis"]
	path = forcis
	url = https://github.com/FRBCesab/forcis
	shallow = true
	registered = true
[submodule "rbibtools"]
	path = rbibtools
	url = https://github.com/FRBCesab/rbibtools
	shallow = true
	registered = true
[submodule "worldpa"]
	path = worldpa
	url = https://github.com/FRBCesab/worldpa
	shallow = true
	registered = true
[submodule "rsendinblue"]
	path = rsendinblue
	url = https://github.com/FRBCesab/rsendinblue
	shallow = true
	registered = true
[submodule "rwoslite"]
	path = rwoslite
	url = https://github.com/FRBCesab/rwoslite
	shallow = true
	registered = true
[submodule "messages"]
	path = messages
	url = https://github.com/FRBCesab/messages
	shallow = true
	registered = true
[submodule "popbayes"]
	path = popbayes
	url = https://github.com/FRBCesab/popbayes
	shallow = true
	registered = true
[submodule "robinmap"]
	path = robinmap
	url = https://github.com/FRBCesab/robinmap
	shallow = true
	registered = true
[submodule "funbiogeo"]
	path = funbiogeo
	url = https://github.com/FRBCesab/funbiogeo
	shallow = true
	registered = true
[submodule "rcompendium"]
	path = rcompendium
	url = https://github.com/FRBCesab/rcompendium
	shallow = true
	registered = true
[submodule "mFD"]
	path = mFD
	url = https://github.com/CmlMagneville/mFD
	shallow = true
	registered = true
[submodule "funrar"]
	path = funrar
	url = https://github.com/rekyt/funrar
	shallow = true
	registered = true
[submodule "rnaturalearthhires"]
	path = rnaturalearthhires
	url = https://github.com/ropensci/rnaturalearthhires
	shallow = true
	registered = false
