[submodule ".registry"]
	path = .registry
	url = https://github.com/frbcesab/frbcesab.r-universe.dev
	branch = HEAD
[submodule "chessboard"]
	path = chessboard
	url = https://github.com/FRBCesab/chessboard
[submodule "forcis"]
	path = forcis
	url = https://github.com/ropensci/forcis
[submodule "funbiogeo"]
	path = funbiogeo
	url = https://github.com/FRBCesab/funbiogeo
[submodule "funrar"]
	path = funrar
	url = https://github.com/rekyt/funrar
[submodule "geoparser"]
	path = geoparser
	url = https://github.com/FRBCesab/geoparser
[submodule "mFD"]
	path = mFD
	url = https://github.com/CmlMagneville/mFD
[submodule "messages"]
	path = messages
	url = https://github.com/FRBCesab/messages
[submodule "popbayes"]
	path = popbayes
	url = https://github.com/FRBCesab/popbayes
[submodule "rbibtools"]
	path = rbibtools
	url = https://github.com/FRBCesab/rbibtools
[submodule "rcompendium"]
	path = rcompendium
	url = https://github.com/FRBCesab/rcompendium
[submodule "rdeps"]
	path = rdeps
	url = https://github.com/FRBCesab/rdeps
[submodule "rnaturalearthhires"]
	path = rnaturalearthhires
	url = https://github.com/ropensci/rnaturalearthhires
	registered = false
[submodule "rsendinblue"]
	path = rsendinblue
	url = https://github.com/FRBCesab/rsendinblue
[submodule "rutils"]
	path = rutils
	url = https://github.com/FRBCesab/rutils
[submodule "rwoslite"]
	path = rwoslite
	url = https://github.com/FRBCesab/rwoslite
[submodule "rwosstarter"]
	path = rwosstarter
	url = https://github.com/FRBCesab/rwosstarter
[submodule "snakedist"]
	path = snakedist
	url = https://github.com/FRBCesab/snakedist
[submodule "worldpa"]
	path = worldpa
	url = https://github.com/FRBCesab/worldpa
[submodule "zenodor"]
	path = zenodor
	url = https://github.com/FRBCesab/zenodor
[submodule "zoteror"]
	path = zoteror
	url = https://github.com/FRBCesab/zoteror
